.smallimagePlaceHolder {
    width: 180px;
    border-radius: 15px;
    box-shadow: 0 12px 12px -4px lightblue;
    height: 90px;
    object-fit: cover;
}
  
.largeimagePlaceHolder {
    width: 83.33vw;
    height: 573px;
    object-fit: contain;
}

.smallImageContainer {
    transition: transform .2s;
    margin: 0 auto;
}

.largeImageContainer {
    width: 100%;
    display: block;
    margin-right: auto; 
}